#nearest
  Najbližšia stanica:
  %a#nearest-link{href: nearest_path(0,0)}
  #details
#choose-from
#map-wrapper
  = map(markers: @stations.map{|station| {latlng: [station.lat, station.lng], popup: link_to(station.display_name, station_path(station))}})
#pocet
  Počet čerpacích staníc na Slovensku:
  = @stations.count
