%h1
  = @station.display_name
#price-wrapper
  - if @station.price
    %span{style: 'background-color: yellow; color: red; font-weight: bold;'} #{@station.price}€
    %span{style: 'color: grey;'} (#{@station.posledna_aktualizacia})
  - else
    Nikto ešte nezaznamenal cenu.
  %br/
  %input#station-id{type: 'hidden', value: @station.id}
  %input#price-input
  %input#submit{type: 'button', value: 'Zaznamenaj cenu'}
